/* dirived in part from cs50 Finance */

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's default width */
    width: auto;
}

main
{
    /* horizontally scrollbar if needed */
    overflow-x: auto;

    text-align: center;
}