/* dirived in part from cs50 Finance */

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's default width */
    width: auto;
}

main
{
    /* horizontal scrollbar if needed (only affects mobile)*/
    overflow-x: auto;

    text-align: center;
}

#header
{
    position: relative;
    top: -20px;
}

.gene
{
    margin-bottom: 0.5%;
}