{% extends "layout.html" %}

{% block meta %}{% endblock %}

{% block title %}
Children
{% endblock %}

{% block main %}
    <table>
        <th>
            Genotype
        </th>
        <th>
            Chance
        </th>
        {% for i in symbols %}
            <tr>
                <td>
                    {{ symbols[i] }}
                </td>
                <td>
                    {{ chance[i] }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}