{% extends "layout.html" %}

{% block meta %}{% endblock %}

{% block title %}
Children
{% endblock %}

{% block main %}
<div><a href='/parents' class='btn btn-primary'>Next gen?</a></div>
    <table class='table'>
        <thead class='thead-dark'>
        <tr>
            <th>
                Genotype
            </th>
            <th>
                Chance
            </th>
            <th>
                Phenotype
            </th>
        </tr>
        </thead>
        {% for key, value in data[0].items() %}
            <tr>
                <td>
                    {{ value[1] }}
                </td>
                <td>
                    {{ value[0].as_integer_ratio() }}
                </td>
                <td>
                    {{ function(traits, value[1]) }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}