{% extends "layout.html" %}

{% block meta %}{% endblock %}

{% block title %}
Children
{% endblock %}

{% block main %}
    <table class='table'>
        <thead class='thead-dark'>
        <tr>
            <th>
                Genotype
            </th>
            <th>
                Chance
            </th>
            <th>
                Phenotype
            </th>
        </tr>
    </thead>
        {% for row in data %}
            {% for item in row %}  
                {% for key, value in item.items() %}   
                    <tr>
                        <td>{{ value[1] }}</td>
                        <td><sup>{{ value[0][0] }}</sup>/<sub>{{ value[0][1] }}</sub></td>
                        <td>{{ function(traits, value[1]) }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </table>
    <div><a href='/generation' class='btn btn-primary'>Next generation</a></div>
{% endblock %}