{% extends "layout.html" %}

{% block meta %}{% endblock %}

{% block title %} Error {{ code }} {% endblock %}

{% block main %}
    <!-- main header -->
    <h1 id="header" style="margin-bottom: -1%">Error {{ code }}</h1>
    <!-- error message -->
    <div class="lead" style="margin-bottom: 1.5%;">
        Something went wrong:<br>
        "{{ message }}"
    </div>
    <!-- return button -->
    <button class="btn btn-primary" onclick="location.href='/';">Return to start</button>
{% endblock %}