{% extends "layout.html" %}

{% block meta %}{% endblock %}

{% block title %}
Select Genes
{% endblock %}

{% block main %}
    <!-- main header -->
    <h1 id="header">Genetics Simulation</h1>

    <!-- a form with varying length to get user's dominant and recessive gene pairs -->
    <form action='/genes' method='post' class='form' style="margin-bottom: 1%;">
        {% for i in range(count) %}
            <div class="gene">
                <span class="lead">Gene {{ i+1 }}</span>
                <div class='form-group'>
                    <input name='dominant{{ i }}' autocomplete="off" placeholder='Dom' type='text' class="form-control">
                    <input name='symbol_dom{{ i }}' autocomplete="off" placeholder='AA' type='text' pattern="[A-Z]+" class="form-control">
                </div>
                <div class='form-group'>
                    <input name='recessive{{ i }}' autocomplete="off" placeholder='Rec' type='text' class="form-control">
                    <input name='symbol_rec{{ i }}' autocomplete="off" placeholder='aa' type='text' pattern="[a-z]+" class="form-control">
                </div>
            </div>
        {% endfor %}
        <button type='submit' class='btn btn-primary'>Pick Parents</button>
    </form>
{% endblock %}