{% extends "layout.html" %}

{% block meta %}{% endblock %}

{% block title %}
Select Gene Count
{% endblock %}

{% block main %}
    <!-- main header -->
    <h1 id="header">Genetics Simulation</h1>

    <!-- a form to get input from user for how many traits to work with -->
    <form action='/' method='post' class='form' style="margin-bottom: 1%;">
        <div class='form-group'>
            <input name='num' autofocus autocomplete="off" placeholder='How many genes?' type='number'
                class="form-control">
        </div>
        <button type='submit' class='btn btn-primary'>Begin</button>
    </form>
{% endblock %}