{% extends "layout.html" %}

{% block meta %}{% endblock %}

{% block title %}
    Select Genes
{% endblock %}

{% block main %}
<!-- this is a form to get input from user for how many traits to work with -->
    <form action='/' method='post' class='form' style="margin-bottom: 1%;">
        <div class='form-group'>
            <input name='num' autofocus autocomplete="off" placeholder='Number of traits?' type='number' class="form-control">
        </div>
            <button type='submit' class='btn btn-primary' >Begin</button>
    </form>
{% endblock %}