{% extends "layout.html" %}

{% block meta %}{% endblock %}

{% block title %}
Parent 2
{% endblock %}

{% block main %}
    <!-- main header -->
    <h1 id="header">Genetics Simulation</h1>

    <form action='/parents2' method='post' class='form'>
    {% for i in range(count) %}
        <span class="lead">Trait {{ i+1 }}: </span>
        <div style="margin-bottom: 1%;">
            <select name='p2t{{i}}'>
                <option value="hd">Homozygous Dom</option>
                <option value="hr">Homozygous Rec</option>
                <option selected value="he">Heterozygous</option>
            </select>
        </div>
    {% endfor %}
        <button type='submit' class='btn btn-primary'>Calculate</button>
    </form>
{% endblock %}