{% extends "layout.html" %}

{% block meta %}
<script type="text/javascript" src="../static/js/specify.js" defer></script>
{% endblock %}

{% block title %}
Combine Genes;
{% endblock %}

{% block main %}
    <!-- main header -->
    <h1 id="header">Genetics Simulation</h1>

    <form onsubmit='makeform();return false;' class='form'>
        <div style="margin-bottom: 1%;">
            <input id='num' autofocus autocomplete="off" placeholder='How many genes to combine?' type='number' class="form-control">
        </div>
        <button type="submit" class='btn btn-primary'>Start</button>
    </form>
    <div id='buh'></div>
    <button id="traits" disabled hidden value="{{ genes|tojson|safe }}"></button>
{% endblock %}