{% extends "layout.html" %}

{% block meta %}<script type="text/javascript" src="../specify.js"></script>{% endblock %}

{% block title %}
Combine Genes;
{% endblock %}

{% block main %}
    <!-- main header -->
    <h1 id="header">Genetics Simulation</h1>

    <form onsubmit="return false" class='form'>
        <div style="margin-bottom: 1%;">
            <input name='num' autofocus autocomplete="off" placeholder='How many genes to combine?' type='number' class="form-control">
        </div>
        <button name="btn" type="submit" class='btn btn-primary'>Start</button>
    </form>
    <div id='buh'></div>
    <script>
        document.querySelector("btn").onclick = document.querySelector('num').value, {{ traits|safe }});
    </script>
{% endblock %}