{% extends "layout.html" %}

{% block meta %}
<script type="text/javascript" src="../static/js/specify.js" defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block title %}
Combine Genes
{% endblock %}

{% block main %}
    <!-- main header -->
    <h1 id="header">Genetics Simulation</h1>

    <form onsubmit='makeform();return false;' class='form'>
        <div style="margin-bottom: 1%;">
            <input id='combnum' autofocus autocomplete="off" placeholder='Number of traits to combine.' type='number' class="form-control">
        </div>
        <button type="submit" class='btn btn-primary'>Start</button>
    </form>
    <div id='buh'></div>
    <div id='return'></div>
    <button id="traits" disabled hidden value="{{ genes }}"></button>
    <button id="session" disabled hidden value="{{ session }}"></button>
{% endblock %}